
div{float:left;}
header{
height:80px;
background-color:#e47a24;
text-align:center;
padding:20px;
}
#l{
width:5%;
height: 800px;
background-color:#fc844d;

}
#l1{
    width:10%;
    height: 800px;
    background-color:#fc844d;
    
    }
#p{
width:85%;
height:400px;
text-align: center;
background-color:#fcc199;

}
#p2{
    width:10%;
    height: 400px;
    text-align: left;
    background-color:#fcc199;
    
    }

    #p3{
        width:85%;
        height: 800px;
        text-align: center;
        background-color:#fcc199;
        
        }
        #pp{
            width:75%;
            height: 400px;
            text-align: center;
            background-color:#fcc199;
            
            }

            #pkont{
                width:85%;
                height: 800px;
                text-align: left;
                background-color:#fcc199;
            }